{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="main-panel">
<div class="content-wrapper">
<form class="forms-sample" method="POST" action="/assetapp/editform">
   {% csrf_token %}
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-12">
               <div class="card">
                  <div class="card-body">
                     <h4 class="card-title">Assets</h4>
                     <input type="hidden" name="id" value="{{form.id}}"/>
                     <p class="card-description">New Assets</p>
                     <div class="form-group row">
                        <label for="asset_no" class="col-sm-3 col-form-label"> Asset No.</label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="asset_no" value="{{form.asset_no}}" placeholder="Asset No." name="asset_no">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="serial_no" class="col-sm-3 col-form-label"> Serial no. </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="serial_no" value="{{form.serial_no}}" placeholder="Serial no. " name="serial_no">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="location" class="col-sm-3 col-form-label"> location</label>
                        <div class="col-sm-9">
                           <select class="form-control" id="location" value="{{form.location}}" placeholder="Location" name="location">
                              <option value="2">Hyderabad</option>
                              {% for at in llist %}
                              <option value="{{at.id}}">{{at.name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="form-group ">
                        <div class="form-check">
                           <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="usage_type" id="usage_type" value="1">
                           Spare Old
                           </label>
                        </div>
                        <div class="form-check">
                           <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="usage_type" id="usage_type1" value="2">
                           Spare New
                           </label>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="machine_type" class="col-sm-3 col-form-label"> Machine Type</label>
                        <div class="col-sm-9">
                           <select class="form-control" id="machine_type" value="{{form.machine_type}}" placeholder="Machine Type" name="machine_type">
                              {% for at in atList %}
                              <option value="{{at.id}}">{{at.dname}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="emp_id" class="col-sm-3 col-form-label"> Employee Id </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="emp_id" value="{{form.emp_id}}" placeholder="Employee Id " name="emp_id">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="user_name" class="col-sm-3 col-form-label"> Username </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="user_name" value="{{form.user_name}}" placeholder="Username " name="user_name">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="gef_identification_number" class="col-sm-3 col-form-label"> GEF Identification  Number </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="gef_identification_number" value="{{form.gef_identification_number}}" placeholder="GEF Identification  Number " name="gef_identification_number">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="domain_workgoup" class="col-sm-3 col-form-label"> Domain / Workgoup </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="domain_workgoup" value="{{form.domain_workgoup}}" placeholder="Domain / Workgoup " name="domain_workgoup">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="make" class="col-sm-3 col-form-label"> Make </label>
                        <div class="col-sm-9">
                           <input type="date" class="form-control" id="make" value="{{form.make}}" placeholder="Make " name="make">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="machine_model_no" class="col-sm-3 col-form-label"> Machine Model no </label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="machine_model_no" value="{{form.machine_model_no}}" placeholder="Machine Model no. " name="machine_model_no">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="card">
                  <div class="card-body">
                     <h4 class="card-title">Softwares</h4>
                     <p class="card-description">Softwares installed in Machines </p>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="antivirus" id ="antivirus" value="{{form.antivirus}}" class="form-check-input" value="1">
                                 Antivirus
                                 <i class="input-helper" ></i></label>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="autocad" id ="autocad" value="{{form.autocad}}" class="form-check-input" value="2">
                                 AutoCAD
                                 <i class="input-helper" ></i></label>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="adobe_acrobate" id="adobe_acrobate" value="{{form.adobe_acrobate}}" class="form-check-input" value="3">
                                 Adobe acrobate
                                 <i class="input-helper" ></i></label>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="visio" id="visio" value="{{form.visio}}" class="form-check-input" value="4">
                                 Visio
                                 <i class="input-helper"  ></i></label>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="access" id="access" value="{{form.access}}" class="form-check-input" value="5">
                                 Access
                                 <i class="input-helper" ></i></label>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="form-check">
                                 <label class="form-check-label">
                                 <input type="checkbox" name="sap" id="sap" value="{{form.sap}}" class="form-check-input" value="6">
                                 SAP
                                 <i class="input-helper"  ></i></label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="card">
                           <div class="card-body">
                              <h4 class="card-title">Operating System</h4>
                              <p class="card-description">Operating System installed in computer.</p>
                              <div class="form-group row">
                                 <label for="version" class="col-sm-3 col-form-label"> OS Version </label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="version" value="{{form.version}}" placeholder="OS Version" name="version">
                                       {% for form in oslist %}
                                       <option value="{{form.id}}">{{form.version}}</option>
                                       {% endfor %}
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="osname" class="col-sm-3 col-form-label"> OS </label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="osname" value="{{form.osname}}" placeholder="OS " name="osname">
                                       {% for form in oslist %}
                                       <option value="{{form.id}}">{{form.osname}}</option>
                                       {% endfor %}
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="ms_office_version" class="col-sm-3 col-form-label"> MS Office Version </label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="ms_office_version" value="{{form.ms_office_version}}" placeholder="MS Office Version " name="ms_office_version">
                                       {% for form in oslist %}
                                       <option value="{{form.id}}">{{form.ms_office_version}}</option>
                                       {% endfor %}
                                    </select>
                                 </div>
                              </div>
                              <!--div class="form-group row">
                                 <label for="ms_office_version1" class="col-sm-3 col-form-label"> MS Office Version </label>
                                 <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked>
                                    Checked
                                    </label>
                                 </div>
                                 </div-->
                              <!--div class="form-group ">
                                 <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="osd" id="optionsRadios11" value="1">
                                    OS Details Volume
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="osd" id="optionsRadios21" value="2">
                                    OS Details OEM
                                    </label>
                                 </div>
                                 </div-->
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="card">
                           <div class="card-body">
                              <h4 class="card-title">Warranty</h4>
                              <p class="card-description">Machine Warranty</p>
                              <!--div class="form-group row">
                                 <label for="ram" class="col-sm-3 col-form-label"> RAM </label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="ram" placeholder="HDD" name="ram">
                                       <option value="2000">2 GB</option>
                                       <option value="4000">4 GB</option>
                                    </select>
                                 </div>
                              </div-->
                              <div class="form-group row">
                                 <label for="ram" class="col-sm-3 col-form-label"> RAM </label>
                                 <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ram" value="{{form.ram}}" placeholder="RAM " name="ram">
                                 </div>
                              </div>
                              <!--div class="form-group row">
                                 <label for="ram" class="col-sm-3 col-form-label"> Processor </label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="processor" placeholder="Processor" name="processor">
                                       <option value="1">Intel Celeron </option>
                                       <option value="1">Intel i5 Gen 1</option>
                                    </select>
                                 </div>
                              </div-->
                              <div class="form-group row">
                                 <label for="processor" class="col-sm-3 col-form-label"> Processor </label>
                                 <div class="col-sm-9">
                                    <input type="text" class="form-control" id="processor" value="{{form.processor}}" placeholder="Processor " name="processor">
                                 </div>
                              </div>
                              <!--div class="form-group row">
                                 <label for="hdd" class="col-sm-3 col-form-label"> HDD</label>
                                 <div class="col-sm-9">
                                    <select class="form-control" id="hdd" placeholder="HDD" name="hdd">
                                       <option value="160">160 GB</option>
                                       <option value="500">500 GB</option>
                                       <option value="1000">1 TB</option>
                                    </select>
                                 </div>
                              </div-->
                              <div class="form-group row">
                                 <label for="hdd" class="col-sm-3 col-form-label"> HDD Capacity</label>
                                 <div class="col-sm-9">
                                    <input type="text" class="form-control" id="hdd" value="{{form.hdd}}" placeholder="HDD " name="hdd">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="make1" class="col-sm-3 col-form-label"> HDD Model </label>
                                 <div class="col-sm-9">
                                    <input type="text" class="form-control" id="make1" value="{{form.make1}}" placeholder="hdd model " name="make1">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="serial_no1" class="col-sm-3 col-form-label"> HDD Serial no. </label>
                                 <div class="col-sm-9">
                                    <input type="text" class="form-control" id="serial_no1" value="{{form.serial_no1}}" placeholder="Serial no. " name="serial_no1">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="purchase_date" class="col-sm-3 col-form-label"> Purchase Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="purchase_date" value="{{form.purchase_date}}" placeholder="Purchase Date " name="purchase_date">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="warranty_start_date" class="col-sm-3 col-form-label"> Warranty Start Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="warranty_start_date" value="{{form.warranty_start_date}}" placeholder="Warranty Start Date " name="warranty_start_date">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="warranty_end_date" class="col-sm-3 col-form-label"> Warranty End Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="warranty_end_date" value="{{form.warranty_end_date}}" placeholder="Warranty End Date " name="warranty_end_date">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="amc_start_date" class="col-sm-3 col-form-label"> AMC Start Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="amc_start_date" value="{{form.amc_start_date}}" placeholder="AMC Start Date " name="amc_start_date">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="amc_end_date" class="col-sm-3 col-form-label"> AMC End  Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="amc_end_date" value="{{form.amc_end_date}}" placeholder="AMC End  Date " name="amc_end_date">
                                 </div>
                                 </div>
                              <div class="form-group row">
                                 <label for="user_acceptance_date" class="col-sm-3 col-form-label"> User Acceptance Date</label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="user_acceptance_date" value="{{form.user_acceptance_date}}" placeholder=" User Acceptance Date  " name="user_acceptance_date">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="user_handed_over_date" class="col-sm-3 col-form-label"> User Handed Over Date </label>
                                 <div class="col-sm-9">
                                    <input type="date" class="form-control" id="user_handed_over_date" value="{{form.user_handed_over_date}}" placeholder="user_handed_over_date Date " name="user_handed_over_date">
                                 </div>
                              </div>
                                 <button type="submit" class="btn btn-success btn-rounded btn-fw">Success</button>
                               <a class="btn btn-danger" href="adelete?id={{form.id}}">Delete</a>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
</form>
</div>
</div>
</form>
</div>
</div>
              {% endif %}
{% endblock %}