{% extends 'base.html' %}

{% block title %}Employees List{% endblock %}
{% block navbar_right %}
        {% if user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Profile</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-information mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Just now
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item" href="/asst/logout">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-account-box mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Logout</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      2 days ago
                    </p>
                  </div>
                </a>
              </div>
                {% else %}
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">

                <a class="dropdown-item preview-item" href="/asst/login">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-information mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Login</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Just now
                    </p>
                  </div>
                </a>

              </div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
    .table{float:left;}
    .dataTables_scrollBody{height:40vh!important;}
</style>
<div class="content-wrapper"Excellent>
    <div class="col-lg-12 col-md-12 col-sm-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Assets List</h4>
                <div class="container">
                    {% for form in list %}
                                {% if form.get_day_diff %}
                        <div class="toast" data-autohide="false">
                            <div class="toast-header">
                              <strong class="mr-auto text-primary">Warning!</strong>
                              <small class="text-muted">{{form.get_day_diff }} days left</small>
                              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                            </div>
                            <div class="toast-body">
                              warning that Asset No {{form.asset_no }} warranty is expiring soon {{form.get_day_diff }} days left.
                            </div>
                          </div>{% endif %}
                            {% endfor %}
                    </div>
                <div class="row">
                    <div class="col-md-2 bg-light text-left">
                        <a type="button" class="btn btn-primary mr-2" href="/add_licences">Add Licence</a>
                    </div>

                    <div class="col-md-8 bg-light text-left">
                        <div class="alert alert-warning">
                            {% for form in list %}
                                {% if form.get_day_diff %}
                                <h4><strong>Warning!</strong>Asset No {{form.asset_no }} warranty is expiring soon {{form.get_day_diff }} days left.</h4>
                                {% endif %}
                            {% endfor %}
                          </div>
                    </div>
                    <div class="col-md-2 bg-light text-right">
                        <a type="button" class="btn btn-success mr-2"  href="/assets_entry">New Entry</a>
                    </div>
                </div>
                <div class="table-responsive pt-3">
                    <table id="example" class="table table-bordered">
                      <thead>
                        <tr>
                           {% if displayColumn.SerialNo %}<td style ="font-weight: bold;">Serial No </td>{% endif %}
                            {% if displayColumn.AssetNo %}<td style ="font-weight: bold;"> Asset No </td>{% endif %}
                               {% if displayColumn.Location %}<td style ="font-weight: bold;"> Location </td>{% endif %}
                               {% if displayColumn.SubLocation %}<td style ="font-weight: bold;"> Sub Location </td>{% endif %}

                               {% if displayColumn.EmpId %}<td style ="font-weight: bold;"> Emp Id </td>{% endif %}
                               {% if displayColumn.Volume_OEM %}<td style ="font-weight: bold;"> OEM / Volume </td>{% endif %}
                               {% if displayColumn.UsageType %}<td style ="font-weight: bold;">Usage Type</td>{% endif %}
                              {% if displayColumn.MachineType %}<td style ="font-weight: bold;">Machine Type</td>{% endif %}
                               {% if displayColumn.GEF_ID %}<td style ="font-weight: bold;">GEF_Id</td>{% endif %}
                               {% if displayColumn.Domain %}<td style ="font-weight: bold;">Domain / Workgroup</td>{% endif %}
                               {% if displayColumn.UserName %}<td style ="font-weight: bold;">User Name</td>{% endif %}
                               {% if displayColumn.UserEmailId %}<td style ="font-weight: bold;">User Email ID</td>{% endif %}
                               {% if displayColumn.UserContact %}<td style ="font-weight: bold;">User Contact No</td>{% endif %}
                               {% if displayColumn.MachineMake %}<td style ="font-weight: bold;">Machine Make</td>{% endif %}
                               {% if displayColumn.MachineModel %}<td style ="font-weight: bold;">Machine Model.No</td>{% endif %}
                               {% if displayColumn.MachineSerialNo %}<td style ="font-weight: bold;">Machine Si.No</td>{% endif %}
                               {% if displayColumn.MachineAge %}<td style ="font-weight: bold;">Machine Age</td>{% endif %}
                               {% if displayColumn.RAM %}<td style ="font-weight: bold;">RAM</td>{% endif %}
                               {% if displayColumn.Processor %}<td style ="font-weight: bold;">Processor</td>{% endif %}
                               {% if displayColumn.HDDType %}<td style ="font-weight: bold;">HDD Type</td>{% endif %}
                               {% if displayColumn.HDDCapacity %}<td style ="font-weight: bold;">HDD Capacity</td>{% endif %}
                               {% if displayColumn.HDDSerialNumber %}<td style ="font-weight: bold;">HDD Si.No</td>{% endif %}
                               {% if displayColumn.PurchaseDate %}<td style ="font-weight: bold;">Purchase Date</td>{% endif %}
                               {% if displayColumn.Warranty %}<td style ="font-weight: bold;">Warranty / AMC</td>{% endif %}
                            <!--td style ="font-weight: bold;">Warranty Start Date</td>
                            <td style ="font-weight: bold;">Warranty End Date</td-->
                                {% if displayColumn.ServiceStart %}<td style ="font-weight: bold;">Service Start Date</td>{% endif %}
                               {% if displayColumn.ServiceEnd %}<td style ="font-weight: bold;">Service End Date</td>{% endif %}
                               {% if displayColumn.OSVersion %}<td style ="font-weight: bold;">OS Version</td>{% endif %}
                               {% if displayColumn.OS %}<td style ="font-weight: bold;">OS</td>{% endif %}
                                {% if displayColumn.MSOfficeVersion %}<td style ="font-weight: bold;">MS Office Version</td>{% endif %}
                               {% if displayColumn.O365 %}<td style ="font-weight: bold;">O365/Zimbra/Public</td>{% endif %}
                               {% if displayColumn.Antivirus %}<td style ="font-weight: bold;">Antivirus</td>{% endif %}
                               {% if displayColumn.AUTOCAD %}<td style ="font-weight: bold;">AutoCAD</td>{% endif %}
                               {% if displayColumn.AUTOCADVersion %}<td style ="font-weight: bold;">AutoCAD Version</td>{% endif %}
                               {% if displayColumn.AdobeAcrobat %}<td style ="font-weight: bold;">Adobe Acrobat</td>{% endif %}
                               {% if displayColumn.MSVisio %}<td style ="font-weight: bold;">MS Visio</td>{% endif %}
                               {% if displayColumn.MSVisioVersion %}<td style ="font-weight: bold;">Visio Version</td>{% endif %}
                               {% if displayColumn.MSAccess %}<td style ="font-weight: bold;">MS Access</td>{% endif %}
                               {% if displayColumn.MSAccessVersion %}<td style ="font-weight: bold;">Access Version</td>{% endif %}
                            <!--td style ="font-weight: bold;">SAP GUI</td>
                            <td style ="font-weight: bold;">SAP User Id</td-->
                                {% if displayColumn.UserAcceptanceDate %}<td style ="font-weight: bold;">User_Acceptance Date</td>{% endif %}
                               {% if displayColumn.UserHandOverDate %}<td style ="font-weight: bold;">User_Handed Over Date</td>{% endif %}
                               {% if displayColumn.Others %}<td style ="font-weight: bold;">Other Installed Softwares</td>{% endif %}
                               {% if displayColumn.status %}<td style ="font-weight: bold;">Status</td>{% endif %}
                               {% if displayColumn.remarks %}<td style ="font-weight: bold;">Remarks</td>{% endif %}
                            <td style ="font-weight: bold;">Edit</td>
                            <td style ="font-weight: bold;">Delete</td>
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in list %}
                            {% if display %}
                            {% for form1 in display %}

                            {% if form1 == form.location %}

                        <tr>
                             {% if displayColumn.SerialNo %}<td><span >{{forloop.counter}}</span></td>{% endif %}
                             {% if displayColumn.Location %}<td>{{form.location}}</td>{% endif %}
                              {% if displayColumn.SubLocation %}<td>{{form.sub_location}} </td>{% endif %}
                              {% if displayColumn.AssetNo %}<td>{{form.asset_no}}</td>{% endif %}
                              {% if displayColumn.EmpId %}<td>{{form.emp_id}}</td>{% endif %}
                              {% if displayColumn.Volume_OEM %}<td>{{form.OEM_Volume}}</td>{% endif %}
                              {% if displayColumn.UsageType %}<td>{{form.usage_type1}}</td>{% endif %}
                              {% if displayColumn.MachineType %}<td>{{form.machine_type}}</td>{% endif %}
                              {% if displayColumn.GEF_ID %}<td>{{form.gef_id_number}}</td>{% endif %}
                              {% if displayColumn.Domain %}<td>{{form.domain_workgroup}}</td>{% endif %}
                              {% if displayColumn.UserName %}<td>{{form.user_name}} </td>{% endif %}
                              {% if displayColumn.UserEmailId %}<td>{{form.user_email}} </td>{% endif %}
                              {% if displayColumn.UserContact %}<td>{{form.user_contact}} </td>{% endif %}
                              {% if displayColumn.MachineMake %}<td>{{form.machine_make}}</td>{% endif %}
                              {% if displayColumn.MachineModel %}<td>{{form.machine_model_no}}</td>{% endif %}
                              {% if displayColumn.MachineSerialNo %}<td>{{form.machine_serial_no}}</td>{% endif %}
                              {% if displayColumn.MachineAge %}<td>"{{form.get_time_diff }}"</td>{% endif %}
                              {% if displayColumn.RAM %}<td>{{form.ram}}</td>{% endif %}
                              {% if displayColumn.Processor %}<td>"{{form.processor}}"</td>{% endif %}
                              {% if displayColumn.HDDType %}<td>{{form.hdd_type}}</td>{% endif %}
                              {% if displayColumn.HDDCapacity %}<td>"{{form.hdd}}"</td>{% endif %}
                              {% if displayColumn.HDDSerialNumber %}<td>"{{form.hdd_serial_no}}"</td>{% endif %}
                              {% if displayColumn.PurchaseDate %}<td>"{{form.processor_purchase_date}}"</td>{% endif %}
                              {% if displayColumn.Warranty %}<td>{% if form.date_type %} {{form.date_type}}{% else %}  {% endif %}</td>{% endif %}
                            <!--td>{{form.warranty_start_date}}</td>
                            <td>{{form.warranty_end_date}}</td-->
                             {% if displayColumn.ServiceStart %}<td>"{{form.amc_start_date}}"</td>{% endif %}
                              {% if displayColumn.ServiceEnd %}<td>"{{form.amc_end_date}}"</td>{% endif %}
                              {% if displayColumn.OSVersion %}<td>{{form.Operating_System_Version}}</td>{% endif %}
                              {% if displayColumn.OS %}<td>{{form.OS}}</td>{% endif %}
                              {% if displayColumn.MSOfficeVersion %}<td>{{form.ms_office_version}}</td>{% endif %}
                              {% if displayColumn.O365 %}<td>{{form.ms_365}}</td>{% endif %}
                              {% if displayColumn.Antivirus %}<td>{% if form.Antivirus %} Manage {% else %} {% endif %}</td>{% endif %}
                              {% if displayColumn.AUTOCAD %}<td>{% if form.AutoCAD %} Yes {% else %}{% endif %}</td>{% endif %}
                              {% if displayColumn.AUTOCADVersion %}<td>{{ form.AutoCAD_version }} </td>{% endif %}
                              {% if displayColumn.AdobeAcrobat %}<td>{% if form.Adobe_acrobate %} Open Source {% endif %}</td>{% endif %}
                              {% if displayColumn.MSVisio %}<td>{% if form.Visio %} Yes {% endif %}</td>{% endif %}
                              {% if displayColumn.MSVisioVersion %}<td>{{form.ms_visio }}</td>{% endif %}
                              {% if displayColumn.MSAccess %}<td>{% if form.Access %} Yes {% endif %}</td>{% endif %}
                              {% if displayColumn.MSAccessVersion %}<td>{{form.ms_access }}</td>{% endif %}
                            <!--td>{% if form.SAP %} Yes {% endif %}</td>
                            <td>{{form.SAP_User_ID}}</td-->
                             {% if displayColumn.UserAcceptanceDate %}<td>"{{form.user_acceptance_date}}"</td>{% endif %}
                              {% if displayColumn.UserHandOverDate %}<td>"{{form.user_handed_over_date}}"</td>{% endif %}
                              {% if displayColumn.Others %}<td>{{form.Installed_Softwares}}</td>{% endif %}
                              {% if displayColumn.status %}<td>{{form.Status}}</td>{% endif %}
                              {% if displayColumn.remarks %}<td>{{form.Remarks}}</td>{% endif %}
                            <td><a href="/assets_edit/{{form.id}}">Edit</a></td>
                            <td><a href="/assets_delete/{{form.id}}">Delete</a></td>
                        </tr>
                            {% endif %}
                               {% endfor %}{% else %}


                        <tr>
                             {% if displayColumn.SerialNo %}<td><span >{{forloop.counter}}</span></td>{% endif %}
                             {% if displayColumn.Location %}<td>{{form.location}}</td>{% endif %}
                              {% if displayColumn.SubLocation %}<td>{{form.sub_location}} </td>{% endif %}
                              {% if displayColumn.AssetNo %}<td>{{form.asset_no}}</td>{% endif %}
                              {% if displayColumn.EmpId %}<td>{{form.emp_id}}</td>{% endif %}
                              {% if displayColumn.Volume_OEM %}<td>{{form.OEM_Volume}}</td>{% endif %}
                              {% if displayColumn.UsageType %}<td>{{form.usage_type1}}</td>{% endif %}
                              {% if displayColumn.MachineType %}<td>{{form.machine_type}}</td>{% endif %}
                              {% if displayColumn.GEF_ID %}<td>{{form.gef_id_number}}</td>{% endif %}
                              {% if displayColumn.Domain %}<td>{{form.domain_workgroup}}</td>{% endif %}
                              {% if displayColumn.UserName %}<td>{{form.user_name}} </td>{% endif %}
                              {% if displayColumn.UserEmailId %}<td>{{form.user_email}} </td>{% endif %}
                              {% if displayColumn.UserContact %}<td>{{form.user_contact}} </td>{% endif %}
                              {% if displayColumn.MachineMake %}<td>{{form.machine_make}}</td>{% endif %}
                              {% if displayColumn.MachineModel %}<td>{{form.machine_model_no}}</td>{% endif %}
                              {% if displayColumn.MachineSerialNo %}<td>{{form.machine_serial_no}}</td>{% endif %}
                              {% if displayColumn.MachineAge %}<td>"{{form.get_time_diff }}"</td>{% endif %}
                              {% if displayColumn.RAM %}<td>{{form.ram}}</td>{% endif %}
                              {% if displayColumn.Processor %}<td>"{{form.processor}}"</td>{% endif %}
                              {% if displayColumn.HDDType %}<td>{{form.hdd_type}}</td>{% endif %}
                              {% if displayColumn.HDDCapacity %}<td>"{{form.hdd}}"</td>{% endif %}
                              {% if displayColumn.HDDSerialNumber %}<td>"{{form.hdd_serial_no}}"</td>{% endif %}
                              {% if displayColumn.PurchaseDate %}<td>"{{form.processor_purchase_date}}"</td>{% endif %}
                              {% if displayColumn.Warranty %}<td>{% if form.date_type %} {{form.date_type}}{% else %}  {% endif %}</td>{% endif %}
                            <!--td>{{form.warranty_start_date}}</td>
                            <td>{{form.warranty_end_date}}</td-->
                             {% if displayColumn.ServiceStart %}<td>"{{form.amc_start_date}}"</td>{% endif %}
                              {% if displayColumn.ServiceEnd %}<td>"{{form.amc_end_date}}"</td>{% endif %}
                              {% if displayColumn.OSVersion %}<td>{{form.Operating_System_Version}}</td>{% endif %}
                              {% if displayColumn.OS %}<td>{{form.OS}}</td>{% endif %}
                              {% if displayColumn.MSOfficeVersion %}<td>{{form.ms_office_version}}</td>{% endif %}
                              {% if displayColumn.O365 %}<td>{{form.ms_365}}</td>{% endif %}
                              {% if displayColumn.Antivirus %}<td>{% if form.Antivirus %} Manage {% else %} {% endif %}</td>{% endif %}
                              {% if displayColumn.AUTOCAD %}<td>{% if form.AutoCAD %} Yes {% else %}{% endif %}</td>{% endif %}
                              {% if displayColumn.AUTOCADVersion %}<td>{{ form.AutoCAD_version }} </td>{% endif %}
                              {% if displayColumn.AdobeAcrobat %}<td>{% if form.Adobe_acrobate %} Open Source {% endif %}</td>{% endif %}
                              {% if displayColumn.MSVisio %}<td>{% if form.Visio %} Yes {% endif %}</td>{% endif %}
                              {% if displayColumn.MSVisioVersion %}<td>{{form.ms_visio }}</td>{% endif %}
                              {% if displayColumn.MSAccess %}<td>{% if form.Access %} Yes {% endif %}</td>{% endif %}
                              {% if displayColumn.MSAccessVersion %}<td>{{form.ms_access }}</td>{% endif %}
                            <!--td>{% if form.SAP %} Yes {% endif %}</td>
                            <td>{{form.SAP_User_ID}}</td-->
                             {% if displayColumn.UserAcceptanceDate %}<td>"{{form.user_acceptance_date}}"</td>{% endif %}
                              {% if displayColumn.UserHandOverDate %}<td>"{{form.user_handed_over_date}}"</td>{% endif %}
                              {% if displayColumn.Others %}<td>{{form.Installed_Softwares}}</td>{% endif %}
                              {% if displayColumn.status %}<td>{{form.Status}}</td>{% endif %}
                              {% if displayColumn.remarks %}<td>{{form.Remarks}}</td>{% endif %}
                            <td><a href="/assets_edit/{{form.id}}">Edit</a></td>
                            <td><a href="/assets_delete/{{form.id}}">Delete</a></td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>

                     <!--table id="example" class="table table-bordered">

                      <thead>
                        <tr>
                           {% if displayColumn.SerialNo %}    <td style ="font-weight: bold;">Serial No </td>{% endif %}
                           {% if displayColumn.Location %}    <td style ="font-weight: bold;"> Location </td>{% endif %}
                           {% if displayColumn.SubLocation %}    <td style ="font-weight: bold;"> Sub Location </td>{% endif %}
                           {% if displayColumn.AssetNo %}    <td style ="font-weight: bold;"> Asset No </td> {% endif %}
                           {% if displayColumn.EmpId %}    <td style ="font-weight: bold;"> Emp Id </td>{% endif %}
                           {% if displayColumn.Volume_OEM %}    <td style ="font-weight: bold;"> OEM / Volume </td>{% endif %}
                           {% if displayColumn.UsageType %}    <td style ="font-weight: bold;">Usage Type</td>{% endif %}
                           {% if displayColumn.MachineType %}   <td style ="font-weight: bold;">Machine Type</td>{% endif %}
                           {% if displayColumn.GEF_ID %}    <td style ="font-weight: bold;">GEF_Id</td>{% endif %}
                           {% if displayColumn.Domain %}    <td style ="font-weight: bold;">Domain / Workgroup</td>{% endif %}
                           {% if displayColumn.UserName %}    <td style ="font-weight: bold;">User Name</td>{% endif %}
                           {% if displayColumn.UserEmailId %}    <td style ="font-weight: bold;">User Email ID</td>{% endif %}
                           {% if displayColumn.UserContact %}    <td style ="font-weight: bold;">User Contact No</td>{% endif %}
                          {% if displayColumn.MachineMake %}     <td style ="font-weight: bold;">Machine Make</td>{% endif %}
                          {% if displayColumn.MachineModel %}     <td style ="font-weight: bold;">Machine Model.No</td>{% endif %}
                           {% if displayColumn.MachineSerialNo %}    <td style ="font-weight: bold;">Machine Si.No</td>{% endif %}
                           {% if displayColumn.MachineAge %}    <td style ="font-weight: bold;">Machine Age</td>{% endif %}
                           {% if displayColumn.RAM %}    <td style ="font-weight: bold;">RAM</td>{% endif %}
                           {% if displayColumn.Processor %}    <td style ="font-weight: bold;">Processor</td>{% endif %}
                           {% if displayColumn.HDDType %}    <td style ="font-weight: bold;">HDD Type</td>{% endif %}
                           {% if displayColumn.HDDCapacity %}    <td style ="font-weight: bold;">HDD Capacity</td>{% endif %}
                           {% if displayColumn.HDDSerialNumber %}    <td style ="font-weight: bold;">HDD Si.No</td>{% endif %}
                           {% if displayColumn.PurchaseDate %}    <td style ="font-weight: bold;">Purchase Date</td>{% endif %}
                           {% if displayColumn.Warranty %}    <td style ="font-weight: bold;">Warranty / AMC</td>{% endif %}-->
                            <!--td style ="font-weight: bold;">Warranty Start Date</td>

                            <td style ="font-weight: bold;">Warranty End Date</td-->
                           <!--{% if displayColumn.ServiceStart %}    <td style ="font-weight: bold;">Service Start Date</td>{% endif %}
                           {% if displayColumn.ServiceEnd %}    <td style ="font-weight: bold;">Service End Date</td>{% endif %}
                           {% if displayColumn.OSVersion %}    <td style ="font-weight: bold;">OS Version</td>{% endif %}
                           {% if displayColumn.OS %}    <td style ="font-weight: bold;">OS</td>{% endif %}
                           {% if displayColumn.MSOfficeVersion %}     <td style ="font-weight: bold;">MS Office Version</td>{% endif %}
                           {% if displayColumn.O365 %}    <td style ="font-weight: bold;">O365/Zimbra/Public</td>{% endif %}

                           {% if displayColumn.Antivirus %}    <td style ="font-weight: bold;">Antivirus</td>{% endif %}
                           {% if displayColumn.AUTOCAD %}    <td style ="font-weight: bold;">AutoCAD</td>{% endif %}
                           {% if displayColumn.AUTOCADVersion %}    <td style ="font-weight: bold;">AutoCAD Version</td>{% endif %}
                           {% if displayColumn.AdobeAcrobat %}    <td style ="font-weight: bold;">Adobe Acrobat</td>{% endif %}
                           {% if displayColumn.MSVisio %}    <td style ="font-weight: bold;">MS Visio</td>{% endif %}
                           {% if displayColumn.MSVisioVersion %}    <td style ="font-weight: bold;">Visio Version</td>{% endif %}
                           {% if displayColumn.MSAccess %}    <td style ="font-weight: bold;">MS Access</td>{% endif %}
                           {% if displayColumn.MSAccessVersion %}    <td style ="font-weight: bold;">Access Version</td>{% endif %}-->
                            <!--td style ="font-weight: bold;">SAP GUI</td>
                            <td style ="font-weight: bold;">SAP User Id</td-->
                           <!--{% if displayColumn.UserAcceptanceDate %}    <td style ="font-weight: bold;">User_Acceptance Date</td>{% endif %}
                           {% if displayColumn.UserHandOverDate %}    <td style ="font-weight: bold;">User_Handed Over Date</td>{% endif %}
                           {% if displayColumn.Others %}    <td style ="font-weight: bold;">Other Installed Softwares</td>{% endif %}
                           {% if displayColumn.status %}    <td style ="font-weight: bold;">Status</td>{% endif %}
                           {% if displayColumn.remarks %}    <td style ="font-weight: bold;">Remarks</td>{% endif %}
                            <td style ="font-weight: bold;">Edit</td>
                            <td style ="font-weight: bold;">Delete</td>
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in list %}
                        <tr>
                             {% if displayColumn.SerialNo %} <td><span >{{forloop.counter}}</span></td>{% endif %}
                              {% if displayColumn.Location %} <td>{{form.location}} </td>{% endif %}
                             {% if displayColumn.SubLocation %} <td>{{form.sub_location}} </td>{% endif %}
                             {% if displayColumn.AssetNo %} <td>{{form.asset_no}}</td>{% endif %}
                             {% if displayColumn.EmpId %} <td>{{form.emp_id}}</td>{% endif %}
                             {% if displayColumn.Volume_OEM %} <td>{{form.OEM_Volume}}</td>{% endif %}
                             {% if displayColumn.UsageType %} <td>{{form.usage_type}}</td>{% endif %}
                             {% if displayColumn.MachineType %} <td>{{form.machine_type}}</td>{% endif %}
                             {% if displayColumn.GEF_ID %} <td>{{form.gef_id_number}}</td>{% endif %}
                             {% if displayColumn.Domain %} <td>{{form.domain_workgroup}}</td>{% endif %}
                             {% if displayColumn.UserName %} <td>{{form.user_name}} </td>{% endif %}
                             {% if displayColumn.UserEmailId %} <td>{{form.user_email}} </td>{% endif %}
                             {% if displayColumn.UserContact %} <td>{{form.user_contact}} </td>{% endif %}
                             {% if displayColumn.MachineMake %} <td>{{form.machine_make}}</td>{% endif %}
                             {% if displayColumn.MachineModel %} <td>{{form.machine_model_no}}</td>{% endif %}
                             {% if displayColumn.MachineSerialNo %} <td>{{form.machine_serial_no}}</td>{% endif %}
                             {% if displayColumn.MachineAge %} <td>"{{form.get_time_diff }}"</td>{% endif %}
                             {% if displayColumn.RAM %} <td>{{form.ram}}</td>{% endif %}
                             {% if displayColumn.Processor %} <td>"{{form.processor}}"</td>{% endif %}
                             {% if displayColumn.HDDType %} <td>{{form.hdd_type}}</td>{% endif %}
                             {% if displayColumn.HDDCapacity %} <td>"{{form.hdd}}"</td>{% endif %}
                             {% if displayColumn.HDDSerialNumber %} <td>"{{form.hdd_serial_no}}"</td>{% endif %}
                             {% if displayColumn.PurchaseDate %} <td>"{{form.processor_purchase_date}}"</td>{% endif %}
                             {% if displayColumn.Warranty %} <td>{% if form.date_type %} {{form.date_type}}{% else %}  {% endif %}</td>{% endif %}-->
                            <!--td>{{form.warranty_start_date}}</td>
                            <td>{{form.warranty_end_date}}</td-->
                             <!--{% if displayColumn.ServiceStart %} <td>"{{form.amc_start_date}}"</td>{% endif %}
                             {% if displayColumn.ServiceEnd %} <td>"{{form.amc_end_date}}"</td>{% endif %}
                             {% if displayColumn.OSVersion %} <td>{{form.Operating_System_Version}}</td>{% endif %}
                             {% if displayColumn.OS %} <td>{{form.OS}}</td>{% endif %}
                             {% if displayColumn.MSOfficeVersion %} <td>{{form.ms_office_version}}</td>{% endif %}
                             {% if displayColumn.O365 %} <td>{{form.ms_365}}</td>{% endif %}
                             {% if displayColumn.Antivirus %} <td>{% if form.Antivirus %} Manage {% else %} {% endif %}</td>{% endif %}
                             {% if displayColumn.AUTOCAD %} <td>{% if form.AutoCAD %} Yes {% else %}{% endif %}</td>{% endif %}
                             {% if displayColumn.AUTOCADVersion %} <td>{{ form.AutoCAD_version }} </td>{% endif %}
                             {% if displayColumn.AdobeAcrobat %} <td>{% if form.Adobe_acrobate %} Open Source {% endif %}</td>{% endif %}
                             {% if displayColumn.MSVisio %} <td>{% if form.Visio %} Yes {% endif %}</td>{% endif %}
                             {% if displayColumn.MSVisioVersion %} <td>{{form.ms_visio }}</td>{% endif %}
                             {% if displayColumn.MSAccess %} <td>{% if form.Access %} Yes {% endif %}</td>{% endif %}
                             {% if displayColumn.MSAccessVersion %} <td>{{form.ms_access }}</td>{% endif %}-->
                            <!--td>{% if form.SAP %} Yes {% endif %}</td>
                            <td>{{form.SAP_User_ID}}</td-->
                             <!--{% if displayColumn.UserAcceptanceDate %} <td>"{{form.user_acceptance_date}}"</td>{% endif %}
                             {% if displayColumn.UserHandOverDate %} <td>"{{form.user_handed_over_date}}"</td>{% endif %}
                             {% if displayColumn.Others %} <td>{{form.Installed_Softwares}}</td>{% endif %}
                             {% if displayColumn.status %} <td>{{form.Status}}</td>{% endif %}
                             {% if displayColumn.remarks %} <td>{{form.Remarks}}</td>{% endif %}
                            <td><a href="/assets_edit/{{form.id}}">Edit</a></td>
                            <td><a href="/assets_delete/{{form.id}}">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table-->
                    <button onclick="exportData()">
                       Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
<div hidden class="content-wrapper">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive pt-3">
                    <table id="tblStocks" class="table table-bordered">
                      <thead>
                        <tr>
                              {% if displayColumn.SerialNo %}<td style ="font-weight: bold;">Serial No </td>{% endif %}
                           {% if displayColumn.Location %}    <td style ="font-weight: bold;"> Location </td>{% endif %}
                           {% if displayColumn.SubLocation %}    <td style ="font-weight: bold;"> Sub Location </td>{% endif %}
                           {% if displayColumn.AssetNo %}    <td style ="font-weight: bold;"> Asset No </td> {% endif %}
                           {% if displayColumn.EmpId %}    <td style ="font-weight: bold;"> Emp Id </td>{% endif %}
                           {% if displayColumn.Volume_OEM %}    <td style ="font-weight: bold;"> OEM / Volume </td>{% endif %}
                           {% if displayColumn.UsageType %}    <td style ="font-weight: bold;">Usage Type</td>{% endif %}
                           {% if displayColumn.MachineType %}   <td style ="font-weight: bold;">Machine Type</td>{% endif %}
                           {% if displayColumn.GEF_ID %}    <td style ="font-weight: bold;">GEF_Id</td>{% endif %}
                           {% if displayColumn.Domain %}    <td style ="font-weight: bold;">Domain / Workgroup</td>{% endif %}
                           {% if displayColumn.UserName %}    <td style ="font-weight: bold;">User Name</td>{% endif %}
                           {% if displayColumn.UserEmailId %}    <td style ="font-weight: bold;">User Email ID</td>{% endif %}
                           {% if displayColumn.UserContact %}    <td style ="font-weight: bold;">User Contact No</td>{% endif %}
                          {% if displayColumn.MachineMake %}     <td style ="font-weight: bold;">Machine Make</td>{% endif %}
                          {% if displayColumn.MachineModel %}     <td style ="font-weight: bold;">Machine Model.No</td>{% endif %}
                           {% if displayColumn.MachineSerialNo %}    <td style ="font-weight: bold;">Machine Si.No</td>{% endif %}
                           {% if displayColumn.MachineAge %}    <td style ="font-weight: bold;">Machine Age</td>{% endif %}
                           {% if displayColumn.RAM %}    <td style ="font-weight: bold;">RAM</td>{% endif %}
                           {% if displayColumn.Processor %}    <td style ="font-weight: bold;">Processor</td>{% endif %}
                           {% if displayColumn.HDDType %}    <td style ="font-weight: bold;">HDD Type</td>{% endif %}
                           {% if displayColumn.HDDCapacity %}    <td style ="font-weight: bold;">HDD Capacity</td>{% endif %}
                           {% if displayColumn.HDDSerialNumber %}    <td style ="font-weight: bold;">HDD Si.No</td>{% endif %}
                           {% if displayColumn.PurchaseDate %}    <td style ="font-weight: bold;">Purchase Date</td>{% endif %}
                           {% if displayColumn.Warranty %}    <td style ="font-weight: bold;">Warranty / AMC</td>{% endif %}
                            <!--td style ="font-weight: bold;">Warranty Start Date</td>
                            <td style ="font-weight: bold;">Warranty End Date</td-->
                           {% if displayColumn.ServiceStart %}    <td style ="font-weight: bold;">Service Start Date</td>{% endif %}
                           {% if displayColumn.ServiceEnd %}    <td style ="font-weight: bold;">Service End Date</td>{% endif %}
                           {% if displayColumn.OSVersion %}    <td style ="font-weight: bold;">OS Version</td>{% endif %}
                           {% if displayColumn.OS %}    <td style ="font-weight: bold;">OS</td>{% endif %}
                           {% if displayColumn.MSOfficeVersion %}     <td style ="font-weight: bold;">MS Office Version</td>{% endif %}
                           {% if displayColumn.O365 %}    <td style ="font-weight: bold;">O365/Zimbra/Public</td>{% endif %}
                           {% if displayColumn.Antivirus %}    <td style ="font-weight: bold;">Antivirus</td>{% endif %}
                           {% if displayColumn.AUTOCAD %}    <td style ="font-weight: bold;">AutoCAD</td>{% endif %}
                           {% if displayColumn.AUTOCADVersion %}    <td style ="font-weight: bold;">AutoCAD Version</td>{% endif %}
                           {% if displayColumn.AdobeAcrobat %}    <td style ="font-weight: bold;">Adobe Acrobat</td>{% endif %}
                           {% if displayColumn.MSVisio %}    <td style ="font-weight: bold;">MS Visio</td>{% endif %}
                           {% if displayColumn.MSVisioVersion %}    <td style ="font-weight: bold;">Visio Version</td>{% endif %}
                           {% if displayColumn.MSAccess %}    <td style ="font-weight: bold;">MS Access</td>{% endif %}
                           {% if displayColumn.MSAccessVersion %}    <td style ="font-weight: bold;">Access Version</td>{% endif %}
                            <!--td style ="font-weight: bold;">SAP GUI</td>
                            <td style ="font-weight: bold;">SAP User Id</td-->
                           {% if displayColumn.UserAcceptanceDate %}    <td style ="font-weight: bold;">User_Acceptance Date</td>{% endif %}
                           {% if displayColumn.UserHandOverDate %}    <td style ="font-weight: bold;">User_Handed Over Date</td>{% endif %}
                           {% if displayColumn.Others %}    <td style ="font-weight: bold;">Other Installed Softwares</td>{% endif %}
                           {% if displayColumn.status %}    <td style ="font-weight: bold;">Status</td>{% endif %}
                           {% if displayColumn.remarks %}    <td style ="font-weight: bold;">Remarks</td>{% endif %}
                        </tr>
                      </thead>
                      <tbody>
                            {% for form in list %}
                        <tr>
                           {% if displayColumn.SerialNo %} <td><span >{{forloop.counter}}</span></td>{% endif %}
                              {% if displayColumn.Location %}
                                    {% for form1 in display %}
                                        {{form1}}
                                        <!--{% if form1 == 'HYDERABAD' %}<td>{{form1}}</td>
                                        {% elif form1 == 'KRISHNAPATNAM' %}<td>{{form1}}</td>
                                        {% elif form1 == 'KAKINADA' %}<td>{{form1}}</td>
                                        {% elif form1 == 'KAKINADA-3' %}<td>{{form1}}</td>
                                        {% elif form1 == 'MARKETING' %}<td>{{form1}}</td>
                                        {% elif form1 == 'DEPOT' %}<td>{{form1}}</td>
                                        {% endif %}-->
                                    {% endfor %}
                              {% endif %}
                             {% if displayColumn.SubLocation %} <td>{{form.sub_location}} </td>{% endif %}
                             {% if displayColumn.AssetNo %} <td>{{form.asset_no}}</td>{% endif %}
                             {% if displayColumn.EmpId %} <td>{{form.emp_id}}</td>{% endif %}
                             {% if displayColumn.Volume_OEM %} <td>{{form.OEM_Volume}}</td>{% endif %}
                             {% if displayColumn.UsageType %} <td>{{form.usage_type}}</td>{% endif %}
                             {% if displayColumn.MachineType %} <td>{{form.machine_type}}</td>{% endif %}
                             {% if displayColumn.GEF_ID %} <td>{{form.gef_id_number}}</td>{% endif %}
                             {% if displayColumn.Domain %} <td>{{form.domain_workgroup}}</td>{% endif %}
                             {% if displayColumn.UserName %} <td>{{form.user_name}} </td>{% endif %}
                             {% if displayColumn.UserEmailId %} <td>{{form.user_email}} </td>{% endif %}
                             {% if displayColumn.UserContact %} <td>{{form.user_contact}} </td>{% endif %}
                             {% if displayColumn.MachineMake %} <td>{{form.machine_make}}</td>{% endif %}
                             {% if displayColumn.MachineModel %} <td>{{form.machine_model_no}}</td>{% endif %}
                             {% if displayColumn.MachineSerialNo %} <td>{{form.machine_serial_no}}</td>{% endif %}
                             {% if displayColumn.MachineAge %} <td>"{{form.get_time_diff }}"</td>{% endif %}
                             {% if displayColumn.RAM %} <td>{{form.ram}}</td>{% endif %}
                             {% if displayColumn.Processor %} <td>"{{form.processor}}"</td>{% endif %}
                             {% if displayColumn.HDDType %} <td>{{form.hdd_type}}</td>{% endif %}
                             {% if displayColumn.HDDCapacity %} <td>"{{form.hdd}}"</td>{% endif %}
                             {% if displayColumn.HDDSerialNumber %} <td>"{{form.hdd_serial_no}}"</td>{% endif %}
                             {% if displayColumn.PurchaseDate %} <td>"{{form.processor_purchase_date}}"</td>{% endif %}
                             {% if displayColumn.Warranty %} <td>{% if form.date_type %} {{form.date_type}}{% else %}  {% endif %}</td>{% endif %}
                            <!--td>{{form.warranty_start_date}}</td>
                            <td>{{form.warranty_end_date}}</td-->
                             {% if displayColumn.ServiceStart %} <td>"{{form.amc_start_date}}"</td>{% endif %}
                             {% if displayColumn.ServiceEnd %} <td>"{{form.amc_end_date}}"</td>{% endif %}
                             {% if displayColumn.OSVersion %} <td>{{form.Operating_System_Version}}</td>{% endif %}
                             {% if displayColumn.OS %} <td>{{form.OS}}</td>{% endif %}
                             {% if displayColumn.MSOfficeVersion %} <td>{{form.ms_office_version}}</td>{% endif %}
                             {% if displayColumn.O365 %} <td>{{form.ms_365}}</td>{% endif %}
                             {% if displayColumn.Antivirus %} <td>{% if form.Antivirus %} Manage {% else %} {% endif %}</td>{% endif %}
                             {% if displayColumn.AUTOCAD %} <td>{% if form.AutoCAD %} Yes {% else %}{% endif %}</td>{% endif %}
                             {% if displayColumn.AUTOCADVersion %} <td>{{ form.AutoCAD_version }} </td>{% endif %}
                             {% if displayColumn.AdobeAcrobat %} <td>{% if form.Adobe_acrobate %} Open Source {% endif %}</td>{% endif %}
                             {% if displayColumn.MSVisio %} <td>{% if form.Visio %} Yes {% endif %}</td>{% endif %}
                             {% if displayColumn.MSVisioVersion %} <td>{{form.ms_visio }}</td>{% endif %}
                             {% if displayColumn.MSAccess %} <td>{% if form.Access %} Yes {% endif %}</td>{% endif %}
                             {% if displayColumn.MSAccessVersion %} <td>{{form.ms_access }}</td>{% endif %}
                            <!--td>{% if form.SAP %} Yes {% endif %}</td>
                            <td>{{form.SAP_User_ID}}</td-->
                             {% if displayColumn.UserAcceptanceDate %} <td>"{{form.user_acceptance_date}}"</td>{% endif %}
                             {% if displayColumn.UserHandOverDate %} <td>"{{form.user_handed_over_date}}"</td>{% endif %}
                             {% if displayColumn.Others %} <td>{{form.Installed_Softwares}}</td>{% endif %}
                             {% if displayColumn.status %} <td>{{form.Status}}</td>{% endif %}
                             {% if displayColumn.remarks %} <td>{{form.Remarks}}</td>{% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <button onclick="exportData()">
                       Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endif %}

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
setTimeout(function(){
    $(document).ready(function() {
    $('#example').DataTable( {
        "scrollX": true
    } );
} );

},100);
</script>
<script>
window.onload = function() {
    $('#SerialNo').prop("checked", true);
    $('#AssetNo').prop("checked", true);
    $('#id_location').on('change', function() {
    if (this.value == "HYDERABAD"){
		$('#sub_location').parent('div').hide();
		return false;
		}
    if (this.value == "KRISHNAPATNAM"){
		$('#sub_location').parent('div').hide();
		return false;
		}
	if (this.value == "KAKINADA"){
		$('#sub_location').parent('div').hide();
		return false;
		}
    if (this.value == "KAKINADA-3"){
		$('#sub_location').parent('div').hide();
		return false;
		}
	if (this.value == "MARKETING"){
		$('#sub_location').parent('div').show();
		return false;
		}
    if (this.value == "DEPOT"){
		$('#sub_location').parent('div').show();
		return false;
		}
    return true;
});

}
</script>
<script>
function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tblStocks");

    /* Declaring array variable */
    var rows =[];

      //iterate through rows of table
    for(var i=0,row; row = table.rows[i]; i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        var arr=[]
        for(var j=0;j<row.cells.length;j++) arr.push((row.cells[j].innerText+"").replaceAll(' ',' ').replaceAll('"','').replaceAll(',',' '))
        column1 = getRow(row.cells[0].innerText);
        /*column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column9 = row.cells[8].innerText;
        column10 = row.cells[9].innerText;
        column11 = row.cells[10].innerText;
        column12 = row.cells[11].innerText;
        column13 = row.cells[12].innerText;
        column14 = row.cells[13].innerText;
        column15 = row.cells[14].innerText;
        column16 = row.cells[15].innerText;
        column17 = row.cells[16].innerText;
        column18 = row.cells[17].innerText;
        column19 = row.cells[18].innerText;
        column20 = row.cells[19].innerText;
        column21 = row.cells[20].innerText;
        column22 = row.cells[21].innerText;
        column23 = row.cells[22].innerText;
        column24 = row.cells[23].innerText;
        column25 = row.cells[24].innerText;
        column26 = row.cells[25].innerText;
        column27 = row.cells[26].innerText;
        column28 = row.cells[27].innerText;
        column29 = row.cells[28].innerText;
        column30 = row.cells[29].innerText;
        column31 = row.cells[30].innerText;
        column32 = row.cells[31].innerText;
        column33 = row.cells[32].innerText;
        column34 = row.cells[33].innerText;
        column35 = row.cells[34].innerText;
        column36 = row.cells[35].innerText;
        column37 = row.cells[36].innerText;
        column38 = row.cells[37].innerText;
        column39 = row.cells[38].innerText;
        column40 = row.cells[39].innerText;
        column41 = row.cells[40].innerText;
        column42 = row.cells[41].innerText;

    /* add a new records in the array */
    rows.push(arr);
        /*rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9,
                column10,
                column11,
                column12,
                column13,
                column14,
                column15,
                column16,
                column17,
                column18,
                column19,
                column20,
                column21,
                column22,
                column23,
                column24,
                column25,
                column26,
                column27,
                column28,
                column29,
                column30,
                column31,
                column32,
                column33,
                column34,
                column35,
                column36,
                column37,
                column38,
                column39,
                column40,
                column41,
                column42
            ]
        );*/

        }
        csvContent = "data:text/csv;charset=utf-8,\n";

         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join("     ,");
            csvContent += row + "\r\n";
        });

        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");

        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Stock_Price_Report.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}
function getRow(k){
res="";
try{}catch(e){}
}
</script>

{% endblock %}
