{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
/* Tabs */
.tabs {
  width: 1000px;
  background-color: #223e9c;
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: #08E;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
.tab-content {
  padding: 10px;
  background-color: #FFF;
}

/* Just for CodePen styling - don't include if you copy paste */
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 2em;
}
</style>
<div class="main-panel">
        <div class="content-wrapper">

                  <h4 class="card-title">Edit Assets Form</h4>
                 <form class="form-sample" name ="myForm" method="post">
                    {% csrf_token %}
                      <div class="tabs">
                  <ul id="tabs-nav">

                    <li id="tab1" class="active"><a href="#tab11" onclick="TABS()">Employee Info</a></li>

                    <li id="tab2" class=""><a href="#tab22" onclick="TABS()">Hardware Details</a></li>
                    <li id="tab3" class=""><a href="#tab33" onclick="TABS()">Software Details</a></li>
                      <li id="tab4" class=""><a href="#tab44" onclick="TABS()">Warranty Details</a></li>

                  </ul>
                          <!-- END tabs-nav -->
                  <div id="tabs-content">

                      <div id="tab11" class="tab-content tab-pane" style="display: none;" role="tabpanel">
                        <h3>Employee Info</h3>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">S.No</label>
                                          <div class="col-sm-8">
                                            {{ form.serial_no}}<span style="visibility:hidden">{{forloop.counter}}</span>
                                          </div>
                                        </div>
                                       </div>

                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Asset No</label>
                                          <div class="col-sm-8">
                                            {{ form.asset_no}}
                                          </div>
                                        </div>
                                     </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                              <label class="col-sm-4 col-form-label">Asset Location</label>
                                              <div class="col-sm-8">
                                                {{ form.location}}
                                              </div>
                                            </div>
                                        </div>

                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Asset Type</label>
                                          <div class="col-sm-8">
                                            {{ form.machine_type}}
                                          </div>
                                        </div>
                                       </div>


                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Employee ID</label>
                                          <div class="col-sm-8">
                                            {{ form.emp_id}}
                                          </div>
                                        </div>
                                       </div>
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">User Name</label>
                                          <div class="col-sm-8">
                                            {{ form.user_name}}
                                          </div>
                                        </div>
                                       </div>
                                        <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">User Contact No</label>
                                          <div class="col-sm-8">
                                            {{ form.user_contact}}
                                          </div>
                                        </div>
                                       </div>

                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">User Email ID</label>
                                          <div class="col-sm-8">
                                            {{ form.user_email}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Domain / Workgroup</label>
                                          <div class="col-sm-8">
                                            {{ form.domain_workgroup}}
                                          </div>
                                        </div>
                                       </div>


                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Domain User Name</label>
                                          <div class="col-sm-8">
                                            {{ form.Domain_User_Name}}
                                          </div>
                                        </div>
                                       </div>

                                    <!--div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Employee ID</label>
                                          <div class="col-sm-8">
                                            {{ form.emp_id}}
                                          </div>
                                        </div>
                                       </div-->


                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">GEF ID</label>
                                          <div class="col-sm-8">
                                            {{ form.gef_id_number}}
                                          </div>
                                        </div>
                                       </div>



                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">SAP User ID</label>
                                          <div class="col-sm-8">
                                           {{ form.SAP_User_ID}}
                                          </div>
                                        </div>
                                       </div>
                                </div>

                      </div>

                      <div id="tab22" class="tab-content tab-pane" style="display: none;" role="tabpanel" >
                      <h3>Machine Hardware Details</h3>
                          <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Processor </label>
                                          <div class="col-sm-9" >
                                           {{ form.processor}}
                                          </div>
                                        </div>
                                       </div>


                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">RAM</label>
                                          <div class="col-sm-9">
                                           {{ form.ram}}
                                          </div>
                                        </div>
                                       </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">HDD Type</label>
                                          <div class="col-sm-9">
                                           {{ form.hdd_type}}
                                          </div>
                                        </div>
                                       </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">HDD</label>
                                          <div class="col-sm-9">
                                           {{ form.hdd}}
                                          </div>
                                        </div>
                                       </div>

                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">HDD Model</label>
                                          <div class="col-sm-9">
                                           {{ form.hdd_model}}
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">HDD Serial No</label>
                                          <div class="col-sm-9">
                                           {{ form.hdd_serial_no}}
                                          </div>
                                        </div>
                                       </div>

                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">HDD Make</label>
                                          <div class="col-sm-9">
                                           {{ form.hdd_make}}
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                        <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Machine Model No</label>
                                          <div class="col-sm-9">
                                           {{ form.machine_model_no}}
                                          </div>
                                        </div>
                                       </div>

                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Machine Serial No</label>
                                          <div class="col-sm-9">
                                           {{ form.machine_serial_no}}
                                          </div>
                                        </div>
                                       </div>
                        </div>
                            <div class="row">
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Machine Make</label>
                                          <div class="col-sm-9">
                                            {{ form.machine_make}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Usage Type</label>
                                          <div class="col-sm-9">
                                            {{ form.usage_type}}
                                          </div>
                                        </div>
                                       </div>

                            </div>

                      </div>

                      <div id="tab33" class="tab-content tab-pane" style="display: none;" role="tabpanel" >
                      <h3>Machine Software Details</h3>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-check">MS Office </label>
                                          <div class="col-sm-8" type="checkbox">
                                           {{ form.ms_office}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-check">Visio </label>
                                          <div class="col-sm-8" type="checkbox">
                                           {{ form.Visio}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-check">AutoCAD </label>
                                          <div class="col-sm-8" type="checkbox" >
                                           {{ form.AutoCAD}}
                                          </div>
                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-check"> Access </label>
                                          <div class="col-sm-8" type="checkbox">
                                           {{ form.Access }}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-check"> Email Type</label>
                                          <div class="col-sm-9">
                                           {{ form.ms_365 }}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-check"> OS Type - OEM </label>
                                          <div class="col-sm-8" type="checkbox" >
                                           {{ form.OEM_Volume}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Operating System </label>
                                          <div class="col-sm-9" >
                                           {{ form.OS}}
                                          </div>
                                        </div>
                                       </div>

                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Operating System Version </label>
                                          <div class="col-sm-9" >
                                           {{ form.Operating_System_Version}}
                                          </div>
                                        </div>
                                       </div>
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-label">Ms Office Version </label>
                                          <div class="col-sm-9" >
                                           {{ form.ms_office_version}}
                                          </div>
                                        </div>
                                       </div>
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-check"> MS Visio Version </label>
                                          <div class="col-sm-9" type="checkbox">
                                           {{ form.ms_visio}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-check"> MS Access Version </label>
                                          <div class="col-sm-9" type="checkbox">
                                           {{ form.ms_access }}
                                          </div>
                                        </div>
                                       </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-3 col-form-check"> Installed Softwares </label>
                                          <div class="col-sm-9">
                                           {{ form.Installed_Softwares }}
                                          </div>
                                        </div>
                                       </div>


                                    </div>

                          </div>

                      <div id="tab44" class="tab-content tab-pane" role="tabpanel" style="display: none;">
                      <h3>Warranty Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">Purchase Date</label>
                                          <div class="col-sm-7" type="date">
                                           {{ form.processor_purchase_date}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">Warranty Start Date</label>
                                          <div class="col-sm-7" >
                                           {{ form.warranty_start_date}}
                                          </div>
                                        </div>
                                       </div>
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">Warranty End Date</label>
                                          <div class="col-sm-7" type="date">
                                           {{ form.warranty_end_date}}
                                          </div>
                                        </div>
                                       </div>
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">AMC Start Date </label>
                                          <div class="col-sm-7" >
                                           {{ form.amc_start_date}}
                                          </div>
                                        </div>
                                       </div>
                                     <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">AMC End Date</label>
                                          <div class="col-sm-7" type="date">
                                           {{ form.amc_end_date}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group. row">
                                          <label class="col-sm-5 col-form-label">User Acceptance Date </label>
                                          <div class="col-sm-7" >
                                           {{ form.user_acceptance_date}}
                                          </div>
                                        </div>
                                       </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">User Handed Over Date</label>
                                          <div class="col-sm-7" type="date">
                                           {{ form.user_handed_over_date}}
                                          </div>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="form-group. row">
                                          <label class="col-sm-5 col-form-label">Status </label>
                                          <div class="col-sm-7" >
                                           {{ form.Status}}
                                          </div>
                                        </div>
                                       </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-5 col-form-label">Remarks</label>
                                          <div class="col-sm-7" >
                                           {{ form.Remarks}}
                                          </div>
                                        </div>
                                       </div>



                            </div>


                                    </div>



                  </div>
                </div>
                            <input class="btn btn-primary btn-rounded btn-fw" type = "submit" onclick="GEEKFORGEEKS()" value="Save">

                  </form>
                </div>
              </div>



<script>
setTimeout(function() {
$('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();
$('#tabs-nav li').click(function () {
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();

  var activeTab = $(this).find('a').attr('href');

  $(activeTab).fadeIn();
  return false;
});

}, 100);
function TABS() {
		$('#tabs-nav li').click(function () {
		  $('#tabs-nav li').removeClass('active');
		  $(this).addClass('active');
		  $('.tab-content').hide();

		  var activeTab = $(this).find('a').attr('href');
		  $(activeTab).fadeIn();
		  return false;
		});
		return true;
		}



function GEEKFORGEEKS() {
		var user_name = document.forms["myForm"]["user_name"];
		var machine_make = document.forms["myForm"]["machine_make"];
		var ms_office_version = document.forms["myForm"]["ms_office_version"];
		var OEM_Volume = document.forms["myForm"]["OEM_Volume"];
		var Status = document.forms["myForm"]["Status"];


		if (user_name.value == "") {
			window.alert(
			"Please enter a valid User Name");
			user_name.focus();
			return false;
		}
		{

		$( "#tab1" ).removeClass( "active" );
	    	$( "#tab1" ).addClass( " " );
	    	$( "#tab11" ).hide();
	    	$( "#tab2" ).removeClass( " " ).addClass( "active" );
	    	$( "#tab22" ).show();
		if (machine_make.value == "") {
			window.alert("Please enter Machine Make");
			machine_make.focus();
			return false;
		}

		}
		{
		$( "#tab2" ).removeClass( "active" );
	    	$( "#tab2" ).addClass( " " );
	    	$( "#tab22" ).hide();
	    	$( "#tab3" ).removeClass( " " ).addClass( "active" );
	    	$( "#tab33" ).show();


		if (ms_office_version.value == "") {
			alert("Please select ms_office_version");
			ms_office_version.focus();
			return false;
		}
        }
		{
		$( "#tab3" ).removeClass( "active" );
	    	$( "#tab3" ).addClass( " " );
	    	$( "#tab33" ).hide();
	    	$( "#tab4" ).removeClass( " " ).addClass( "active" );
	    	$( "#tab44" ).show();


		if (Status.value == "") {
			window.alert(
			"Please enter the Status.");
			phone.focus();
			return false;
		}
        }
		return true;
	}



</script>
{% endif %}
{% endblock %}