{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Assets Form</h4>
                  <form class="form-sample" method="post">
                    {% csrf_token %}
                   <div class="row">

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">S.No</label>
                          <div class="col-sm-6">
                            {{ form.serial_no}}<span style="visibility:hidden">{{forloop.counter}}</span>
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Employee ID</label>
                          <div class="col-sm-6">
                            {{ form.emp_id}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">User Name</label>
                          <div class="col-sm-6">
                            {{ form.user_name}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">User Email ID</label>
                          <div class="col-sm-6">
                            {{ form.user_email}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset Location</label>
                          <div class="col-sm-6">
                            {{ form.location}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset No</label>
                          <div class="col-sm-6">
                            {{ form.asset_no}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset Type</label>
                          <div class="col-sm-6">
                            {{ form.machine_type}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Domain User Name</label>
                          <div class="col-sm-6">
                            {{ form.Domain_User_Name}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Domain Workgroup</label>
                          <div class="col-sm-6">
                            {{ form.domain_workgroup}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Serial No</label>
                          <div class="col-sm-6">
                           {{ form.machine_serial_no}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Model No</label>
                          <div class="col-sm-6">
                           {{ form.machine_model_no}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Usage Type</label>
                          <div class="col-sm-6">
                            {{ form.usage_type}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Make</label>
                          <div class="col-sm-6">
                            {{ form.machine_make}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">GEF ID Number</label>
                          <div class="col-sm-6">
                            {{ form.gef_id_number}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Ram</label>
                          <div class="col-sm-6">
                           {{ form.ram}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD</label>
                          <div class="col-sm-6">
                           {{ form.hdd}}
                          </div>
                        </div>

                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD Serial No</label>
                          <div class="col-sm-6">
                           {{ form.hdd_serial_no}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Model</label>
                          <div class="col-sm-6">
                           {{ form.hdd_model}}
                          </div>
                        </div>

                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Make</label>
                          <div class="col-sm-6">
                           {{ form.hdd_make}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Processor </label>
                          <div class="col-sm-6" >
                           {{ form.processor}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Processor Purchase Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.processor_purchase_date}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Warranty Start Date</label>
                          <div class="col-sm-7" >
                           {{ form.warranty_start_date}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Warranty End Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.warranty_end_date}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">AMC Start Date </label>
                          <div class="col-sm-7" >
                           {{ form.amc_start_date}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">AMC End Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.amc_end_date}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">User Acceptance Date </label>
                          <div class="col-sm-7" >
                           {{ form.user_acceptance_date}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">User Handed Over Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.user_handed_over_date}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Operating System </label>
                          <div class="col-sm-7" >
                           {{ form.OS}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Operating System Version </label>
                          <div class="col-sm-7" >
                           {{ form.Operating_System_Version}}
                          </div>
                        </div>
                       </div>

                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">MS Office </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.ms_office}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Ms Office Version </label>
                          <div class="col-sm-7" >
                           {{ form.ms_office_version}}
                          </div>
                        </div>
                       </div>
                     <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Is OEM Volume </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.OEM_Volume}}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Status </label>
                          <div class="col-sm-7"  >
                           {{ form.Status}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Antivirus </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.Antivirus }}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">AutoCAD </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.AutoCAD}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Adobe Acrobate </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Adobe_acrobate }}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Visio </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Visio}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check"> Access </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Access }}
                          </div>
                        </div>
                       </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">SAP </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.SAP}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">SAP User ID</label>
                          <div class="col-sm-6">
                           {{ form.SAP_User_ID}}
                          </div>
                        </div>
                       </div>

                       <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label"> Remarks </label>
                          <div class="col-sm-7" >
                           {{ form.Remarks }}
                          </div>
                        </div>
                       </div>



                      <!--div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">S.No</label>
                          <div class="col-sm-6">
                            {{ form.serial_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">User Email ID</label>
                          <div class="col-sm-6">
                            {{ form.user_email}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset No</label>
                          <div class="col-sm-6">
                            {{ form.asset_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Usage Type</label>
                          <div class="col-sm-6">
                            {{ form.usage_type}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Domain User Name</label>
                          <div class="col-sm-6">
                            {{ form.Domain_User_Name}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">GEF ID Number</label>
                          <div class="col-sm-6">
                            {{ form.gef_id_number}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Make</label>
                          <div class="col-sm-6">
                            {{ form.machine_make}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Serial No</label>
                          <div class="col-sm-6">
                           {{ form.machine_serial_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Make</label>
                          <div class="col-sm-6">
                           {{ form.hdd_make}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD Serial No</label>
                          <div class="col-sm-6">
                           {{ form.hdd_serial_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Processor </label>
                          <div class="col-sm-6" >
                           {{ form.processor}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Warranty Start Date</label>
                          <div class="col-sm-7" >
                           {{ form.warranty_start_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">AMC Start Date </label>
                          <div class="col-sm-7" >
                           {{ form.amc_start_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">User Acceptance Date </label>
                          <div class="col-sm-7" >
                           {{ form.user_acceptance_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Operating System </label>
                          <div class="col-sm-7" >
                           {{ form.OS}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Ms Office Version </label>
                          <div class="col-sm-7" >
                           {{ form.ms_office_version}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Is OEM Volume </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.OEM_Volume}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">AutoCAD </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.AutoCAD}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Visio </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Visio}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">SAP </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.SAP}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Status </label>
                          <div class="col-sm-7"  >
                           {{ form.Status}}
                          </div>
                        </div>



                      </div>

                      <div class="col-md-6">

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">User Name</label>
                          <div class="col-sm-6">
                            {{ form.user_name}}
                          </div>
                        </div>


                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Location</label>
                          <div class="col-sm-6">
                            {{ form.location}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Employee ID</label>
                          <div class="col-sm-6">
                            {{ form.emp_id}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Asset Type</label>
                          <div class="col-sm-6">
                            {{ form.machine_type}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Domain Workgroup</label>
                          <div class="col-sm-6">
                            {{ form.domain_workgroup}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Machine Model No</label>
                          <div class="col-sm-6">
                           {{ form.machine_model_no}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">HDD</label>
                          <div class="col-sm-6">
                           {{ form.hdd}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Hdd Model</label>
                          <div class="col-sm-6">
                           {{ form.hdd_model}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Ram</label>
                          <div class="col-sm-6">
                           {{ form.ram}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Processor Purchase Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.processor_purchase_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Warranty End Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.warranty_end_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">AMC End Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.amc_end_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">User Handed Over Date</label>
                          <div class="col-sm-7" type="date">
                           {{ form.user_handed_over_date}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Operating System Version </label>
                          <div class="col-sm-7" >
                           {{ form.Operating_System_Version}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">MS Office </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.ms_office}}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Antivirus </label>
                          <div class="col-sm-7" type="checkbox" >
                           {{ form.Antivirus }}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check">Adobe Acrobate </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Adobe_acrobate }}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-check"> Access </label>
                          <div class="col-sm-7" type="checkbox">
                           {{ form.Access }}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label"> SAP User ID </label>
                          <div class="col-sm-7" >
                           {{ form.SAP_User_ID }}
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label"> Remarks </label>
                          <div class="col-sm-7" >
                           {{ form.Remarks }}
                          </div>
                        </div>




                      </div-->
                    </div>
                    <input type = "submit" value="Save">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
{% endif %}
{% endblock %}