{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Assets Status:</h1>
                  <p class="card-description">
                    Status of Assets.
                  </p>
                  <form class="forms-sample" method="POST" action="/assetapp/astatus_saveform">
                      {% csrf_token %}
                    <div class="form-group row">
                      <label for="asid" class="col-sm-3 col-form-label"> Asset Status Id</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="asid" placeholder="asid" name="asid">
                        <input type="hidden" class="form-control" id="id" name="id">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="asname" class="col-sm-3 col-form-label"> Asset Status</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="asname" placeholder="asname" name="asname">
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>
                </div>
              </div>
            </div>
              {% endif %}
{% endblock %}