{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<!--form class="forms-sample" method="POST" action="/assetapp/atype_editform">
    {% csrf_token %}
                    <div class="form-group row">
                      <label for="dname" class="col-sm-3 col-form-label"> Asset Type</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.dname}}" id="dname" placeholder="dname" name="dname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="code" class="col-sm-3 col-form-label"> Code </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.code}}" id="code" placeholder="code" name="code">
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    {% for form in form_list %}
                    <a class="btn btn-red" href="atype_delete?id={{form.id}}">Delete</a>
                    {% endfor %}

                  </form-->
<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Assets Types</h1>
                  <form class="forms-sample" method="POST" action="/assetapp/atype_editform">
                      {% csrf_token %}
                    <input type="hidden" name="id" value="{{form.id}}"/>
                    <div class="form-group row">
                      <label for="dname" class="col-sm-3 col-form-label"> Asset Type</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.dname}}" id="dname" placeholder="asset type name" name="dname">
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                     <a type="button" class="btn btn-danger" href="atype_delete?id={{form.id}}">Delete</a>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endif %}
{% endblock %}
