<style>
    .table td {
        padding: .5rem 0.9375rem!important;
}
</style>
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
 <div class="row">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Volume Operating System Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>

                            <th colspan="2"  >
                            OS
                          </th>

                          <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in win %}
                        <tr>
                           <td colspan="2">
                            {{form.OS}}
                          </td>

                          <td >
                            {{form.VolumeLicence}}

                          </td>
                          <td >
                            {{form.Available}}
                          </td>
                          <td >
                           {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                            {% endfor %}
                            ]
                          </td>
                        </tr>
                         {% endfor %}
                    <tr><td>&nbsp;</td></tr>


{% for form in server %}
                      <tr>
                          <td colspan="2">
                            {{form.OS}}
                          </td>

                          <td >
                            {{form.VolumeLicence}}

                          </td>
                          <td >
                            {{form.Available}}
                          </td>
                          <td >
                         {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup>{{form1.LenderVersion}}</sup>
                            {% endfor %}
                            ]

                          </td>
                        </tr>
                         {% endfor %}



                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">OEM Operating System Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th  >
                            OS
                          </th>
                          <th >
                            Live
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in win %}
                        <tr>

                           <td >
                            {{form.OS}}
                          </td>
                          <td >
                            {{form.OEM}}

                          </td>

                        </tr>
                         {% endfor %}
                      <tr>
                          <td  style="font-weight: bold">Total</td>
                          <td  style="font-weight: bold">{{winSum.OEM}}</td>


                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div>

          <!-- row end -->
 <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">MS Office Standard Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >
                            MS Office
                          </th>
                           <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in MSOFfice %}
                        <tr >
                          <td >
                            {% if form.OS == 'MS Office 365' %}<span style="font-weight: bold;font-size: x-large;">O365 Business Essential </span> {% else %} {{form.OS}}{% endif %}
                          </td>
                          <td >
                             {% if form.OS == 'MS Office 365' %}<span style="font-weight: bold;font-size: x-large;">{{form.VolumeLicence}} </span> {% else %} {{form.VolumeLicence}}{% endif %}

                          </td>
                          <td >
                            {% if form.OS == 'MS Office 365' %}<span style="font-weight: bold;font-size: x-large;">{{form.Available}} </span> {% else %} {{form.Available}}{% endif %}
                          </td>
                          <td >
                           {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                            {% endfor %}
                            ]
                          </td>
                        </tr>
                         {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div>
<div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CAL</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >

                          </th>
                           <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in CAL %}
                        <tr >
                          <td >
                            {% if form.CAL == 'Domain' %}<span > CAL </span> {% endif %}
                          </td>
                          <td >
                             {% if form.CAL == 'Domain' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.CAL == 'Domain' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.CAL == 'Domain' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.CAL}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>
<div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Email Type</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >

                          </th>
                           <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in MS365 %}
                        <tr >
                          <td >
                            {% if form.O365 == 'MS Office 365' %}<span >O365 Business Essential </span> {% endif %}
                          </td>
                          <td >
                             {% if form.O365 == 'MS Office 365' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.O365 == 'MS Office 365' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.O365 == 'MS Office 365' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                        {% for form in Zimbra %}
                        <tr >

                          <td >
                            {% if form.O365 == 'Zimbra' %}<span >Zimbra </span> {% endif %}
                          </td>
                          <td >
                             {% if form.O365 == 'Zimbra' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.O365 == 'Zimbra' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.O365 == 'Zimbra' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.O365}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div>
<!--div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Zimbra</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >

                          </th>
                           <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in Zimbra %}
                        <tr >

                          <td >
                            {% if form.O365 == 'Zimbra' %}<span >Zimbra </span> {% endif %}
                          </td>
                          <td >
                             {% if form.O365 == 'Zimbra' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.O365 == 'Zimbra' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.O365 == 'Zimbra' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.O365}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div-->
<div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Softwares</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th >

                          </th>
                           <th >
                            Live
                          </th>
                          <th >
                            Available
                          </th>
                          <th >
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in Antivirus %}
                        <tr >
                          <td >
                            {% if form.Softwares == 'Antivirus' %}<span >Antivirus </span> {% endif %}
                          </td>
                          <td >
                             {% if form.Softwares == 'Antivirus' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.Softwares == 'Antivirus' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.Softwares == 'Antivirus' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.Antivirus}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                      {% for form in Autocad %}
                        <tr >
                          <td >
                            {% if form.Softwares == 'Autocad' %}<span >Autocad </span> {% endif %}
                          </td>
                          <td >
                             {% if form.Softwares == 'Autocad' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.Softwares == 'Autocad' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.Softwares == 'Autocad' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.Autocad}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                      {% for form in Coraldraw %}
                        <tr >
                          <td >
                            {% if form.Softwares == 'Coral draw' %}<span >Coraldraw </span> {% endif %}
                          </td>
                          <td >
                             {% if form.Softwares == 'Coral draw' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.Softwares == 'Coral draw' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.Softwares == 'Coral draw' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.Coraldraw}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                      {% for form in PdfWriter %}
                        <tr >
                          <td >
                            {% if form.Softwares == 'Pdf Writer' %}<span >PdfWriter </span> {% endif %}
                          </td>
                          <td >
                             {% if form.Softwares == 'Pdf Writer' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.Softwares == 'Pdf Writer' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.Softwares == 'Pdf Writer' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.PdfWriter}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}
                      {% for form in Winzip %}
                        <tr >
                          <td >
                            {% if form.Softwares == 'Winzip' %}<span >Winzip </span> {% endif %}
                          </td>
                          <td >
                             {% if form.Softwares == 'Winzip' %}<span >{{form.VolumeLicence}} </span> {% endif %}

                          </td>
                          <td >
                            {% if form.Softwares == 'Winzip' %}<span >{{form.Available}} </span> {% endif %}
                          </td>
                          <td >
                              {% if form.Softwares == 'Winzip' %}
                                   {% if form.CurrentAvailableBalance < 0 %}
                                      <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                                     {% elif form.CurrentAvailableBalance == 0 %}
                                      <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                                      {% elif form.CurrentAvailableBalance > 0 %}
                                      <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                                      {% endif %}
                                      &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.Winzip}}</div></sup>
                                     {% for form1 in form.BorrowPath %}
                                    &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                                    {% endfor %}
                                    ]
                              {% endif %}
                          </td>
                        </tr>
                         {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </div>




{% endif %}
{% endblock %}
