{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
/* Tabs */
.tabs {
  width: 1000px;
  background-color: #223e9c;
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: #08E;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
.tab-content {
  padding: 10px;
  background-color: #FFF;
}

/* Just for CodePen styling - don't include if you copy paste */
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 2em;
}
</style>
<div class="main-panel">
        <div class="content-wrapper">

                  <h4 class="card-title">Add Assets Licences</h4>
                  <form class="form-sample" method="post">
                    {% csrf_token %}
                    <div class="row">
                     <div class="col-md-6">
                        <div class="form-group row" name="new_licence" id="new_licence">
                          <label for="new_licence" class="col-sm-4 col-form-label">Licence Name:</label>
                          <input type="text" name="new_licence"/>
                        </div>
                     </div>
                    </div>
                    <input class="btn btn-primary btn-rounded btn-fw" type = "submit" value="Save">
                  </form>
                </div>
              </div>
<script>
   setTimeout(function() {
  $('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function () {
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();

  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});

}, 0);

    </script>
{% endif %}
{% endblock %}