{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<!--div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Operating Systems Details:</h1>
                  <p class="card-description">
                    Operating system installed in computers.
                  </p>
<form class="forms-sample" method="POST" action="/assetapp/ops_editform">
    {% csrf_token %}
                    <div class="form-group row">
                      <label for="osname" class="col-sm-3 col-form-label"> Operating System</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.osname}}" id="osname" placeholder="osname" name="osname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="version" class="col-sm-3 col-form-label"> Version </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.version}}" id="version" placeholder="version" name="version">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="licence" class="col-sm-3 col-form-label"> Licence</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.licence}}" id="licence" placeholder="licence" name="licence">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="iso" class="col-sm-3 col-form-label"> ISO </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{form.iso}}" id="iso" placeholder="iso" name="iso">
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>


</form></div></div></div></div></div></div-->

<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">Edit Operating Systems Details:</h1>
                  <p class="card-description">
                    Operating system installed in computers.
                  </p>
                  <form class="forms-sample" method="POST" action="/assetapp/ops_editform">
                      {% csrf_token %}
                    <input type="hidden" name="id" value="{{form.id}}"/>
                    <div class="form-group row">
                      <label for="osname" class="col-sm-3 col-form-label"> Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="osname" value="{{form.osname}}" placeholder="Operating System Name" name="osname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="version" class="col-sm-3 col-form-label"> Version </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="version" value="{{form.version}}" placeholder="version" name="version">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="licence" class="col-sm-3 col-form-label"> License</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="licence" value="{{form.licence}}" placeholder="licence" name="licence">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="iso" class="col-sm-3 col-form-label"> OEM </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="iso" value="{{form.iso}}" placeholder="OEM" name="iso">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="ms_office_version" class="col-sm-3 col-form-label"> Ms Office Version </label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="ms_office_version" value="{{form.ms_office_version}}" placeholder="Ms Office Version" name="ms_office_version">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-danger" href="ops_delete?id={{form.id}}">Delete</a>
                  </form>
                </div>
              </div>
            </div></div></div></div>

{% endif %}
{% endblock %}
