{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="main-panel">
        <div class="content-wrapper">

                  <h4 class="card-title">Edit Connectivity Form</h4>
                 <form class="forms-sample" method="POST"> {% csrf_token %}

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> IP Address </label>
                      <div class="col-sm-9">
                        {{form.Ip_Address}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Connection Name </label>
                      <div class="col-sm-9">
                        {{form.Name}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Status </label>
                      <div class="col-sm-9">
                        {{form.Status}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Alert Range </label>
                      <div class="col-sm-9">
                        {{form.Alert_Range}}
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" >Submit</button>

                  </form>
                </div>
              </div>
{% endif %}
{% endblock %}