{% extends 'base.html' %}

{% block title %}Employees List{% endblock %}

{% block content %}
{% if user.is_authenticated %}


  <div class="container">
    <p>It Assets </p>
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <a type="button" class="btn btn-warning" href="/assetapp/new_employees">Entry Form</a>
        </div>
    </div>
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Location</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Place</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>
          {% for form in form_list %}
    <tbody>
      <tr>
        <th>location </th>
        <th>asset_no</th>
        <th>emp_id</th>
        <th>user_name</th>
        <th>usage_type</th>
        <th>machine_type</th>
        <th>gef_identification_number</th>
        <th>domain_workgoup</th>
        <th>make</th>
        <th>machine_model_no</th>
        <th>serial_no</th>
        <th>hdd</th>
        <th>make1</th>
        <th>model</th>
        <th>serial_no</th>
        <th>ram</th>
        <th>processor</th>
        <th>purchase_date</th>
        <th>warranty_start_date</th>
        <th>warranty_end_date</th>
        <th>amc_start_date</th>
        <th>amc_end_date</th>
        <th>os_version</th>
        <th>os</th>
        <th>ms_office_version</th>
        <th>ms_office_version1</th>
        <th>os_details</th>
        <th>antivirus</th>
        <th>autocad</th>
        <th>adobe_acrobate</th>
        <th>visio</th>
        <th>access</th>
        <th>sap</th>
        <th>status</th>
        <th>remarks</th>
        <th>user_acceptance_date</th>
        <th>user_handed_over_date</th>
        <td><button class="btn btn-default"><a href="/assetapp/edit?id={{form.id}}">Edit</a></button></td>
        <td><button class="btn btn-default"><a href="/assetapp/delete?id={{form.id}}">Delete</a></button></td>

      </tr>
    </tbody>
          {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
