{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}
            <div class="col-md-24 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Entry Form</h4>
                  <p class="card-description">
                    Enter form layout
                  </p>
                  <form class="forms-sample" method="POST"> {% csrf_token %}

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Location </label>
                      <div class="col-sm-9">
                        {{form.Location}}
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Asst No </label>
                      <div class="col-sm-9">
                        {{form.Asst_No}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Machine Type </label>
                      <div class="col-sm-9">
                        {{form.Machine_Type}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Make </label>
                      <div class="col-sm-9">
                        {{form.Make}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Machine Model Number </label>
                      <div class="col-sm-9">
                        {{form.Machine_Model_no}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Machine Serial Number </label>
                      <div class="col-sm-9">
                        {{form.Machine_Si_No}}
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Purchase Date </label>
                      <div class="col-sm-9">
                        {{form.Purchased_Date}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Warranty Exp Date </label>
                      <div class="col-sm-9">
                        {{form.Warranty_Exp_Date}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> AMC Start Date </label>
                      <div class="col-sm-9">
                        {{form.AMC_Start_Date}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> AMC End Date </label>
                      <div class="col-sm-9">
                        {{form.AMC_End_Date}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label"> Remarks </label>
                      <div class="col-sm-9">
                        {{form.Remarks}}
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>

                  </form>
                </div>
              </div>
            </div>
{% endif %}
{% endblock %}