
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
 <div class="row">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Total Operating System Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th colspan="2">
                            OS
                          </th>
                          <th>
                            Live
                          </th>
                          <th>
                            Available
                          </th>
                          <th>
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in win %}
                        <tr>
                          {% if forloop.counter0  < 1 %}
                            <td   rowspan="10"  class="badge-info text-center">
                            Volume
                          </td>
                            {% endif %}
                           <td>
                            {{form.OS}}
                          </td>
                          <td>
                            {{form.VolumeLicence}}

                          </td>
                          <td>
                            {{form.Available}}
                          </td>
                          <td>
                           {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                            {% endfor %}
                            ]
                          </td>
                        </tr>
                         {% endfor %}
                      <tr>
                          <td>Total</td>
                              <td>{{winSum.VolumeLicence}}</td>
                              <td>{{winSum.Available}}</td>
                          <td>{{winSum.CurrentAvailableBalance}}</td>
                      </tr>
{% for form in server %}
                        <tr>
                          <td>
                            {{form.OS}}
                          </td>
                          <td>
                            {{form.VolumeLicence}}

                          </td>
                          <td>
                            {{form.Available}}
                          </td>
                          <td>
                         {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup>{{form1.LenderVersion}}</sup>
                            {% endfor %}
                            ]
                          </td>
                        </tr>
                         {% endfor %}
                         <tr>
                          <td>Total</td>
                              <td>{{serverVolumeSum.VolumeLicence}}</td>
                              <td>{{serverVolumeSum.Available}}</td>
                          <td>{{serverVolumeSum.CurrentAvailableBalance}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">OEM Operating System Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th colspan="2">
                            OS
                          </th>
                          <th>
                            Total
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for form in win %}
                        <tr>
                          {% if forloop.counter0  < 1 %}
                            <td   rowspan="6"  class="badge-success text-center">
                            OEM
                          </td>
                            {% endif %}
                           <td>
                            {{form.OS}}
                          </td>
                          <td>
                            {{form.OEM}}

                          </td>

                        </tr>
                         {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div>

          <!-- row end -->
 <div class="row">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Total MS Office Licences</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th colspan="2">
                            MS Office
                          </th>
                           <th>
                            Live
                          </th>
                          <th>
                            Available
                          </th>
                          <th>
                            Balance
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                      {% for form in MSOFfice %}
                        <tr>
                       {% if forloop.counter0  < 1 %}
                            <td   rowspan="5"  class="badge-info text-center">
                            Volume
                          </td>
                            {% endif %}
                          <td>
                            {{form.OS}}
                          </td>
                          <td>
                            {{form.VolumeLicence}}

                          </td>
                          <td>
                            {{form.Available}}
                          </td>
                          <td>
                           {% if form.CurrentAvailableBalance < 0 %}
                              <label class="badge badge-danger">{{form.CurrentAvailableBalance}} </label>
                             {% elif form.CurrentAvailableBalance == 0 %}
                              <label class="badge badge-info">{{form.CurrentAvailableBalance}}</label>
                              {% elif form.CurrentAvailableBalance > 0 %}
                              <label class="badge badge-success">{{form.CurrentAvailableBalance}}</label>
                              {% endif %}
                              &nbsp[ {{form.Balance}}<sup><div class="badge badge-success badge-pill">{{form.OS}}</div></sup>
                             {% for form1 in form.BorrowPath %}
                            &nbsp;+&nbsp;{{form1.BorrowLicence}}<sup><div class="badge badge-info badge-pill">{{form1.LenderVersion}}</div></sup>
                            {% endfor %}
                            ]
                          </td>
                        </tr>
                         {% endfor %}
                       <tr>
                          <td>Total</td>
                              <td>{{MSOFficeSum.VolumeLicence}}</td>
                              <td>{{MSOFficeSum.Available}}</td>
                          <td>{{MSOFficeSum.CurrentAvailableBalance}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
 </div>
{% endif %}
{% endblock %}
