{% extends 'base.html' %}

{% block title %}Department Entry{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="main-panel">
        <div class="content-wrapper">
                 <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.Name }}"?</p>
                    {{ form }}
                    <input type="submit" value="confirm">
                </form>
                </div>
              </div>
{% endif %}
{% endblock %}